# Продвинутый Python, семинар 7

**Лектор:** Петров Тимур

**Семинаристы:** Бузаев Федор, Дешеулин Олег, Коган Александра, Васина Олеся, Садуллаев Музаффар

Итак, сегодня мы с вами потренируемся работать с запросами на PyMongo (в лишний раз вспомним, что тут делать, как писать фильтры, группировки и все остальное), а также потрогаем руками Redis

## Redis

In [ ]:
!sudo apt install redis-server

Запускаем локально сервер Redis.

По умолчанию порт 6379

In [ ]:
!redis-server --daemonize yes

Давайте попробуем пингануть сервер Redis и посмотреть жив ли он

In [ ]:
!redis-cli ping

PONG

In [ ]:
!pip install redis

Collecting redis
  Downloading redis-5.1.1-py3-none-any.whl.metadata (9.1 kB)
Requirement already satisfied: async-timeout>=4.0.3 in /usr/local/lib/python3.10/dist-packages (from redis) (4.0.3)
Downloading redis-5.1.1-py3-none-any.whl (261 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 261.3/261.3 kB 4.1 MB/s eta 0:00:00
Installing collected packages: redis
Successfully installed redis-5.1.1

А теперь к Pyredis!

In [ ]:
import redis

redis = redis.Redis()

redis.ping()

True

Давайте проделаем базовые операции с Redis, например, вставим ключи с разным Time to life.

In [ ]:
redis.set("key", 1)
redis.get("key")

b'1'

А давайте посмотрим на время жизни ключа в Redis

In [ ]:
redis.ttl('key')

-1

Видим, что если не задать у ключа время жизни, то он будет лежать в оперативной памяти до сброса

К счастью, мы можем задавать TTL в начале или менять его динамично

Давайте сделаем это

In [ ]:
redis.expire("key", 1)

True

In [ ]:
redis.get("key")

Как мы видим - в ячейке ничего нет, а ключ был удален через 1 секунду

Также можно например сразу выставить TTL
Давайте посмотрим на это ниже

In [ ]:
import time

redis.setex("some", 3, "alive")
print(redis.get("some"))
time.sleep(3)

b'alive'

In [ ]:
redis.get("some")

У Redis есть очень много полезных фич встроенных в коробку.

Например есть встроенная система работы с очередями и обработкой различных задач.

In [ ]:
import redis
r = redis.Redis(host='localhost', port=6379, db=0)

r.rpush('my_queue', 'task1')
r.rpush('my_queue', 'task2')
r.rpush('my_queue', 'task3')

3

In [ ]:
import redis

r = redis.Redis(host='localhost', port=6379, db=0)

while True:
    task = r.lpop('my_queue')

    if task is not None:
        print('Processing task: %s' % task)
    else:
        break

Небольшая задачка на поупражняться с Redis

Нужно написать функции GetCredentials и InstallCredentials, которые будут моделировать хранение токенов пользователей некоторого сайта в Redis.

Условие: если по юзеру есть токен в системе, мы должны установить новый с TTL равным остатку TTL старого токена(да-да такая странная у нас система). Если юзер зашел к нам первый раз, то нужно установить TTL=20 секунд, если повторно, то 10.
Обрабатывать невалидные случаи нужно - например кидать ошибки

In [ ]:
def GetCredentials(user_id: int) -> str:

In [ ]:
def InstallCredentials(user_id: int, token: str) -> None: ...

Мы не успеем затронуть все могущества Redis, так как он широк и необъятен, но впереди вас ждет не менее интересная NoSQL БД - MongoDB!

## Mongo

## Часть 1. Учимся узнавать информацию про датасет

Шпора:

```
list_database_names() - вывести список доступных баз данных

list_collection_names() - вывести список доступных коллекций

find_one() - вывести 1 элемент коллекции

find() - найти все

count_documents(filter) - посчитать количество документов в коллекции
```

In [ ]:
!pip install pymongo

In [ ]:
import pymongo
from pymongo import MongoClient

cluster = MongoClient('mongodb+srv://admin:admin@pythontest.l4aoup6.mongodb.net/?retryWrites=true&w=majority')

### Задание 1

Выберите в качестве базы данных - sample_supplies, а в качестве коллекции - единственную представленную там. Выведите один экземпляр коллекции

После этого посмотрите, сколько данных у нас в коллекции

In [ ]:
col = cluster["sample_supplies"]["sales"]
col.find_one()

In [ ]:
col = cluster["sample_supplies"]["sales"]
col.count_documents({}) #обратите внимание, что если нужно просто число документов, то надо дополнительно указать пустой фильтр

## Часть 2. Учимся делать простые запросы

Шпора:

```

distinct(field, filter) - вывести все уникальные значения

find(filter, cols) - применяем фильтр, получаем данные с имеющихся cols

Структура cols:

{
    col_1: 0 - не показываем
    col_2: 1 - показываем значения
}
```

Фильтры:

```
Операции:

    $eq - =
    $ne - ><
    $lt - <
    $lte - <=
    $gt - >
    $gte - >=
    $in - поиск в массиве (или строке)
    $nin - NOT IN
    $exists - существование (IS NOT NULL)

Логика:

    $and - AND
    $not - NOT
    $or - OR

Регулярки (тип LIKE):

    $regex - регулярка
```

Прочие полезные вещи:

```
col.field - обращаемся к значению col и внутри него к значению field

limit(nums) - выбрать несколько значений

count() - посчитать число результатов

sort() - сортировка

```

### Задание 2

Выведите все уникальные города магазинов (поле storeLocation), а также способы оплаты (purchaseMethod)

In [ ]:
col.distinct("storeLocation"), col.distinct("purchaseMethod")

(['Austin', 'Denver', 'London', 'New York', 'San Diego', 'Seattle'],
 ['In store', 'Online', 'Phone'])

### Задание 3

Выведите только пользователей, в чьих заказах был использован купон (couponUsed), название города начинается на S или на D, а также метод оплаты - онлайн. Отсортируйте результат по названию города по убыванию

In [ ]:
cols = {"customer": 1, "storeLocation": 1, "_id": 0}
filters = {"couponUsed": True, "purchaseMethod": "Online", "storeLocation": {"$regex": "[SD].*"}}
result = col.find(filters, cols).sort({"storeLocation": pymongo.DESCENDING})
for k in result:
    print(k)

### Задание 4

Добавьте также ограничение на пол покупателя (выбираем только женщин), а также на оценку (satisfaction должен быть от 1 до 3). Выведите только 10 значений (сортировать не нужно)

In [ ]:
cols = {"customer": 1, "storeLocation": 1, "_id": 0}
matching = {"couponUsed": True, "purchaseMethod": "Online", "storeLocation": {"$regex": "[SD].*"}, "customer.gender" : "F", "customer.satisfaction": {"$gte": 1, "$lte": 3}}
result = col.find(matching, cols).limit(10)
for k in result:
    print(k)

## Часть 3. Делаем агрегацию

Шпора:

```
aggregate(pipeline) - сделать агрегацию по pipeline

pipeline - список из словарей

Из каких частей может состоять pipeline:

{"$unwind": } - сделать анпакинг (то есть если все в одном списке, то он разобьет на части)
{"$match": {}} - применение where
{"$group": {}} - группирование
{"$sort": {}} - сортировка
{"$limit": {}} - ограничение
{"$project": {}} - выбрать нужные колонки
```

Как работает $group:

```
{
    "_id" : "$value" - по чему аггрегировать (названия идут через $)
    "name": {aggregation} - название и как агрегировать
}
```

Какие бывают агрегации?

```
    $sum - сумма
    $avg - среднее
    $median - медиана
    $min - минимум (также есть minN)
    $max - максимум (также есть maxN)
    $first - первое значение
    $last - последнее значение
    $addToSet - получить список уникальных
```

### Задание 5

Посчитайте по каждому заказу:

* Число уникальных товаров

* Число товаров

* Сумму оплаты

In [ ]:
u = {"$unwind": "$items"}
g = {"$group":
        {
            "_id": "$_id",
            "unique_items": {"$sum": 1},
            "items": {"$sum": "$items.quantity"},
            "price": {"$sum": "$items.price"}
        }
     }
for k in col.aggregate([u, g]):
    print(k)

### Задание 6

Выведите только те заказы, где число товаров больше 30, а сумма оплаты больше 1900

In [ ]:
u = {"$unwind": "$items"}
g = {"$group":
        {
            "_id": "$_id",
            "unique_items": {"$sum": 1},
            "items": {"$sum": "$items.quantity"},
            "price": {"$sum": "$items.price"}
        }
     }
m = {"$match":
        {
            "items": {"$gte": 30},
            "price": {"$gte": 1900}
        }
    }
for k in col.aggregate([u, g, m]):
    print(k)

## Часть 4. Соединяем документы

Шпора:

```
{$lookup: {
    "from": collection - с чем связываем
    "localField": value - по какому полю из нашей коллекции
    "foreignField": value - по какому полю из другой коллекции
    "as": name - как назвать колонку
}} - делаем соединение
```

### Задание 7

Соедините две таблицы из базы данных sample_analytics (customers и accounts) и выведите для каждого пользователя все его аккаунты

In [ ]:
col = cluster["sample_analytics"]["customers"]
u = {"$unwind": "$accounts"}
l = {"$lookup":
     {
          "from" : "accounts",
          "localField": "accounts",
          "foreignField": "account_id",
          "as": "accs"
     }
}
m = {"$project": {"username": 1, "name": 1, "accs": 1}}

for k in col.aggregate([u, l, m]):
    print(k)